<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="笔记网站" content="一个可以分享或阅读的笔记网站">
    <title>主页</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    </style>
</head>
<body>
  
    <div class="container">
      
      <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
         
          <a class="nav-link active" target="black" href='/login'>注册</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"target="black"href='/register'>登录</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link"target="black" href="/logout">注销</a>
        </li>
        <li class="nav-item">
          <a class="nav-link",target="black" href="/singout">登出</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "target="black" href="/search">搜索</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "target="black" href="/wriet">分享</a>
        
        </li>
      </ul>
    </div>
    <div class="container mt-3">
    
      <blockquote class="blockquote">
         <h2>知识分享网站</h2>
         <p>这是一个可以分享的网站</p>
         <p>你可以把你的笔记分享到这里</p>
         <p>或者是阅读他人的笔记</p>
      </blockquote>
    </div> 
    
      
        
      
      
      
      
      
</body>
</html>