<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    
</head>
<body>
  <div class="container">
      
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
         
        <a class="nav-link" href='/'>主页</a>
      </li>
      <li class="nav-item">
       
        <a class="nav-link"  href='/register'>注册</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"href='/longin'>登录</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="/logout">注销</a>
      </li>
      <li class="nav-item">
        <a class="nav-link", href="/singout">登出</a>
      </li>
      <li class="nav-item">
        <a class="nav-link "href="/search">搜索</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/wriet">分享</a>
      
      </li>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/userindex">个人主页</a>
    </li>
    </ul>
  </div>
      <blockquote class="blockquote">
        <h3 >登录</h3>
      </blockquote>
    <div class="input-group mb-3">
        <form action="/longin", method = "post">
            <p>用户名</p>
                <input name="werd" type="name"class="form-control" id="name" style='width:1500px;outline-color:black;outline-width:20px'>
                <p>密码</p>
                
                <input name="wrrd"class="form-control"  style='width:1500px;outline-color:black;outline-width:20px' type="password"id="password">
                
                
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">提交</button>  
                </div>

        </form>
    </div>
</body>
</html>